<MudToolBar Class="mt-15">
    <MudIconButton Target="_blank" Link="https://www.facebook.com/cadelina13" Class="m-2" Icon="@Icons.Custom.Brands.Facebook" Size="Size.Large" Color="Color.Primary" />
    <MudIconButton Target="_blank" Link="https://github.com/cadelina13" Class="m-2" Icon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Color="Color.Primary" />
    <MudIconButton Class="m-2" Icon="@Icons.Custom.Brands.MicrosoftAzure" Size="Size.Large" Color="Color.Primary" />
    <MudIconButton Class="m-2" Icon="@Icons.Custom.Brands.Google" Size="Size.Large" Color="Color.Primary" />
</MudToolBar>

<MudDivider Class="mt-8 mb-2 ml-10 mr-10" />
<MudToolBar Dense Class="p-0 mb-15">
    <MudSpacer/>
    <MudText Typo="Typo.caption">Powered by: <a target="_blank" href="https://mudblazor.com">Mudblazor</a></MudText>
</MudToolBar>